<div class="field form-group">
  <%= f.label 'រូបភាពចំលើយ (គួរតែ 250px * 300px)', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :image_answer %>
  </div>
</div>

<div class="field form-group">
  <%= f.label 'សំលេង', class: 'col-sm-3 control-label' %>
  <div class="col-sm-6">
    <%= f.file_field :audio %>
  </div>
</div>
