<%= link_to('Back', lesson_contents_path(lesson_id: params[:lesson_id], writing_method_id: params[:writing_method_id]), :class => 'btn btn-large btn-primary') %>
<h1>Edit content</h1>
<%= render 'form' %>
