<div class="content">
  <div class="head">
    <h3>តារាងខ្លឹមសារ</h3>
    <div class="pull-right action">
      <%= link_to 'បន្ថែមខ្លឹមសារ', new_lesson_content_path(@lesson, :writing_method_id => @method.id), class: 'btn btn-primary' %>
    </div>
  </div>
  <table class="table table-bordered table-hover">
    <tr>
      <th>លេដសំគាល់</th>
      <th>ខ្លឹមសារ</th>
      <th>ខ្លឹមសារជាខ្មែរ</th>
      <th>រូបភាព</th>
      <th>សំលេង</th>
      <th>រូបភាពគន្លឹះ</th>
      <th colspan="2"></th>
    </tr>
    <% @contents.each do |content| %>
      <%= render content %>
    <% end %>
  </table>
</div>
