<div class="content">
  <div class="head">
    <h3>តារាងវិធីសាស្រ្ត</h3>
  </div>
  <div style="padding-top:15px">
    <ul>
      <% @methods.each do |method| %>
        <li><%= link_to method.name, lesson_contents_path(@lesson, :writing_method_id => method.id) %></li>
      <% end %>
    </ul>
  </div>

</div>
