<div class="content">
  <div class="head">
    <h3>តារាងវិធីសាស្រ្ត</h3>
    <div class="pull-right action">
      <%= link_to 'បន្ថែមវិធីសាស្រ្ត', new_writing_method_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div style="padding-top:15px">
    <ul>
      <% @methods.each do |method| %>
        <li><%= link_to method.name, lesson_contents_path(@lesson, :writing_method_id => method.id) %></li>
      <% end %>
    </ul>
  </div>

</div>
