.form-group{
  padding-bottom: 20px;
  margin-top: 20px;
  clear: both;
}

.form-group img{
  margin-bottom: 5%;
  width: 20%;
}

.action{
  padding-bottom: 15px;
}
.content{
  clear: both;
}

.head h3{
  display: inline
}
